.shadow {
  position: relative;
  box-shadow: 0 .1rem .4rem rgba($box-shadow-color, 0.3), 0 0 2rem rgba($box-shadow-color, 0.1) inset;
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: .2rem;
    left: 1.5rem;
    right: 1.5rem;
    z-index: -1;
    border-radius: 10rem/3rem;
    box-shadow: 0 0 3rem .2rem $box-shadow-color;
  }
}
