.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 3rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    animation: moveInBottom 0.8s ease-out 0.75s;
    animation-fill-mode: backwards;
}